*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    width: 100%;
    height: 100vh;
    overflow-y: auto;
    padding: 1rem;

    background-image: radial-gradient(circle at center, #919191 0, #919191 1px, white 1px, white 100%);
    background-repeat: repeat;
    background-size: 22px 22px;
}

main {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

form {
    width: 100%;
    max-width: 800px;
    max-height: 100%;
    overflow-y: auto;
    background-color: white;

    fieldset {
        display: flex;
        flex-direction: column;
        padding: 2rem;
        gap: 0.6rem;

        input {
            padding: 0.4rem;
        }
    }
}
